$base-color: whitesmoke;

div {
  cursor: pointer;
}

.container {
  padding: 0.3em;
  // margin-bottom: 5px;
  //----
  background-color: $base-color;
  font-weight: bolder;
  font-size: 1em;
}

.container:hover {
  background-color: darken($base-color, 25);
}

.arrow {
  float: right;
  //----
  color: darken($base-color, 50);
}
