$container-color: whitesmoke;

div {
  cursor: pointer;
}

.container {
  padding: 0.3em;
  margin-bottom: 5px;
  //----
  background-color: $container-color;
}

.container:hover {
  background-color: darken($container-color, 25);
}

.arrow {
  float: right;
  //----
  color: darken($container-color, 50);
}
